[submodule "HorizonCore"]
	path = HorizonCore
	url = https://github.com/dorgonman/HorizonCore.git
[submodule "HorizonBuildTool"]
	path = HorizonBuildTool
	url = https://github.com/dorgonman/HorizonBuildTool.git
[submodule "thirdparty/libsoci/soci"]
	path = thirdparty/libsoci/soci
	url = https://github.com/dorgonman/soci.git
